<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="D:\idea-workspace\MyBatisPlus\src\main\java\org\tjh\MyBatisPlus\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>